:root{
    --black:#000;
    --black2:#131313;
    --nav-text:rgb(227, 227, 227 );
    --orange:#CE9E4A;
    --white:#fff;
    --grey:#E3E3E3;
    --grey2:rgb(227, 227, 227, 0.70 );
    --grey3:#E1E1E1;
    --grey4:#DADADA;
    --grey5:#DFDFDD;

    --home-bloges:rgba(255, 255, 255, 0.03);

    --gradiant-color: #131313;
    --gradiant-color--end: rgba(19, 19, 19, 0);
    --gradiant-direction: to top;
    
}