:root{
    --black:#000;
    --black2:#131313;
    --black3:#403E3B;
    --nav-text:rgb(227, 227, 227 );
    --orange:#CE9E4A;
    --white:#fff;
    --grey:#E3E3E3;
    --grey2:rgb(227, 227, 227, 0.70 );
    --grey3:#E1E1E1;
    --grey4:#DADADA;
    --grey5:#DFDFDD;
    --grey6:#666;
    --grey7:rgba(227, 227, 227, 0.60);
    --grey8:#1C1C1C;
    --grey9:#737373

    --home-bloges:rgba(255, 255, 255, 0.03);
    --home-bloges-hover:#fff1;

    --questions-border:rgba(246, 237, 221, 0.20);

    --gradiant-color: #131313;
    --gradiant-color--end: rgba(19, 19, 19, 0);
    --gradiant-direction: to top;

    --footer-bottom:rgba(255, 255, 255, 0.60);

    --partner-icon:rgba(255, 255, 255, 0.15);
    
}