:root {
  --black:#000;
  --black2:#131313;
  --nav-text:rgb(227, 227, 227 );
  --orange:#CE9E4A;
  --white:#fff;
  --grey:#E3E3E3;
  --grey2:rgb(227, 227, 227, 0.70 );
  --grey3:#E1E1E1;
  --grey4:#DADADA;
  --grey5:#DFDFDD;
  --home-bloges:rgba(255, 255, 255, 0.03);
  --gradiant-color: #131313;
  --gradiant-color--end: rgba(19, 19, 19, 0);
  --gradiant-direction: to top;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6, a, p, button, input, span {
  font-family: Montserrat, sans-serif;
}

header {
  position: fixed;
  background: var(--black);
  width: 100%;
  z-index: 1;
}
header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
header .row .burger-menu {
  display: none;
}
header .row .burger-menu svg {
  width: 20px;
  height: 20px;
  color: var(--white);
}
header .row .logo a {
  outline: none;
  border: none;
}
header .row .logo a:hover {
  cursor: pointer;
}
header .row .logo a img {
  width: 72px;
  height: 40px;
}
header .row nav ul {
  gap: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .row nav ul li :hover {
  opacity: 1;
}
header .row nav ul li a {
  color: var(--nav-text);
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
}
header .row nav ul #more {
  display: none;
}
header .row .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
header .row .icons .account {
  outline: none;
  border: none;
  background-color: transparent;
}
header .row .icons .account svg {
  width: 22px;
  height: 22px;
  color: var(--nav-text);
}
header .row .icons .cart {
  outline: none;
  border: none;
  background-color: transparent;
}
header .row .icons .cart svg {
  width: 22px;
  height: 22px;
  color: var(--nav-text);
}

@media (max-width: 800px) {
  header .row > nav ul #contact {
    display: none;
  }
  header .row > nav ul #more {
    display: block;
  }
}
@media (max-width: 720px) {
  header .burger-menu {
    display: block !important;
  }
  header nav {
    display: none;
  }
}
.hero {
  background-image: url(../imgs/home-back.gif);
  background-color: rgba(0, 0, 0, 0.81);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-blend-mode: darken;
  padding-top: calc(50vh - 282px);
  padding-bottom: 75px;
}
.hero .row {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  min-height: calc(100vh - 225px);
  padding: 0 10px;
}
.hero .row h1 {
  color: var(--orange);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.hero .row h2 {
  color: var(--white);
  font-size: 72px;
  font-weight: 700;
  line-height: 126px;
  text-align: center;
}
.hero .row p {
  color: var(--grey);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  max-width: 700px;
}
.hero .row .anc-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.hero .row .anc-group .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--black2);
  padding: 16px 24px;
  border: 1px solid var(--white);
  border-radius: 4px;
}
.hero .row .anc-group .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  color: var(--black2);
  background-color: var(--white);
  padding: 16px 24px;
  border: 1px solid var(--white);
  border-radius: 4px;
}

@media (max-width: 960px) {
  .hero {
    padding-top: calc(50vh - 282px);
  }
}
@media (max-width: 720px) {
  .hero .row h2 {
    font-size: 55px;
    font-weight: 700;
    line-height: 75px;
  }
  .hero .anc-group {
    flex-direction: column;
  }
}
.explore {
  margin: 0;
  padding: 0;
  background-color: var(--black);
}
.explore .row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 40px;
}
.explore .row .img {
  width: 50%;
}
.explore .row .img img {
  width: 100%;
  height: 100%;
}
.explore .row .content {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  padding: 87px 0;
}
.explore .row .content .top > h1 {
  font-size: 16px;
  font-weight: 400;
  color: var(--orange);
  text-transform: uppercase;
}
.explore .row .content .top > h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--white);
  line-height: 84px;
}
.explore .row .content .top > p {
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
  max-width: 500px;
}
.explore .row .content .top .item-1 {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 18px;
}
.explore .row .content .top .item-1 .icon {
  background-color: var(--black2);
  padding: 11.2px 11.2px 9px 11.21px;
  border-radius: 8px;
}
.explore .row .content .top .item-1 .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
}
.explore .row .content .top .item-1 .text p {
  font-size: 18px;
  font-weight: 400;
  color: var(--grey2);
  line-height: 27px;
  max-width: 500px;
}
.explore .row .content .top .item-2 {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 18px;
}
.explore .row .content .top .item-2 .icon {
  background-color: var(--black2);
  padding: 11.2px 11.2px 9px 11.21px;
  border-radius: 8px;
}
.explore .row .content .top .item-2 .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
}
.explore .row .content .top .item-2 .text p {
  font-size: 18px;
  font-weight: 400;
  color: var(--grey2);
  line-height: 27px;
  max-width: 500px;
}
.explore .row .content .top .item-3 {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 18px;
}
.explore .row .content .top .item-3 .icon {
  background-color: var(--black2);
  padding: 11.2px 11.2px 9px 11.21px;
  border-radius: 8px;
}
.explore .row .content .top .item-3 .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
}
.explore .row .content .top .item-3 .text p {
  font-size: 18px;
  font-weight: 400;
  color: var(--grey2);
  line-height: 27px;
  max-width: 500px;
}
.explore .row .content #anc {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
  padding: 16px 24px;
  border-radius: 4px;
  margin-top: 122px;
}

@media (max-width: 750px) {
  .explore .row {
    flex-direction: column;
    gap: 0;
  }
  .explore .row .img {
    width: 100%;
  }
  .explore .row .content {
    width: 100%;
    padding: 87px 20px !important;
  }
  .explore .row .content #anc {
    align-self: center;
    margin-top: 90px !important;
  }
}
.partners {
  padding: 50px 0;
  background-color: var(--grey3);
}
.partners h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 40px;
}
.partners .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  overflow-x: scroll;
  scrollbar-width: none;
  gap: 100px;
}
.partners .row img {
  filter: grayscale(100%);
}
.partners .row img:hover {
  filter: grayscale(0);
  transition: 0.4s;
}

.trusted {
  background-color: var(--black);
}
.trusted .row-column {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: column;
  padding: 100px 0;
}
.trusted .row-column h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--orange);
  text-align: center;
}
.trusted .row-column #top {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  text-align: center;
  line-height: 25.6px;
  max-width: 500px;
  padding-top: 16px;
  align-self: center;
}
.trusted .row-column .img-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 42px;
  overflow-x: scroll;
  scrollbar-width: none;
}
.trusted .row-column .img-row img {
  filter: grayscale(100%);
}
.trusted .row-column .img-row img:hover {
  filter: grayscale(0);
  transition: 0.4s;
}
.trusted .row-column #bottom {
  font-size: 12px;
  font-weight: 400;
  color: var(--grey4);
  text-align: center;
  line-height: 16.8px;
  max-width: 400px;
  padding-top: 40px;
  align-self: center;
}

@media (max-width: 800px) {
  .trusted .img-row {
    overflow-x: unset !important;
    flex-direction: column;
  }
}
.community {
  background-color: rgb(19, 19, 19);
}
.community .details {
  background: linear-gradient(var(--gradiant-direction), var(--gradiant-color), var(--gradiant-color--end));
  background-color: rgb(0, 0, 0);
  padding: 100px 0;
}
.community .details .container {
  position: relative;
}
.community .details .container .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.community .details .container .background img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.community .details .container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.community .details .container .row .item-1 {
  width: 33.33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.community .details .container .row .item-1 img {
  padding-bottom: 24px;
}
.community .details .container .row .item-1 h1 {
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
  padding-bottom: 11px;
  text-align: center;
}
.community .details .container .row .item-1 p {
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
  text-align: center;
}
.community .details .container .row .item-2 {
  width: 33.33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.community .details .container .row .item-2 img {
  padding-bottom: 24px;
}
.community .details .container .row .item-2 h1 {
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
  padding-bottom: 11px;
  text-align: center;
}
.community .details .container .row .item-2 p {
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
  text-align: center;
}
.community .details .container .row .item-3 {
  width: 33.33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.community .details .container .row .item-3 img {
  padding-bottom: 24px;
}
.community .details .container .row .item-3 h1 {
  font-size: 24px;
  font-weight: 500;
  color: var(--white);
  padding-bottom: 11px;
  text-align: center;
}
.community .details .container .row .item-3 p {
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
  text-align: center;
}
.community .learning {
  padding: 100px 20px;
}
.community .learning .heading h1 {
  font-size: 16px;
  font-weight: 400;
  color: var(--orange);
  text-transform: uppercase;
}
.community .learning .heading h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--grey);
  line-height: 84px;
}
.community .learning .heading p {
  font-size: 18px;
  font-weight: 400;
  color: var(--grey);
  max-width: 550px;
  line-height: 28.8px;
}
.community .learning .row {
  display: flex;
  justify-content: start;
  align-items: baseline;
  gap: 24px;
  padding-top: 40px;
}
.community .learning .row img {
  width: 100%;
  height: 240px;
  border-radius: 4px;
}
.community .learning .row .top {
  width: 100%;
}
.community .learning .row .item-1 {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 11px;
}
.community .learning .row .item-1 .top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 12px;
}
.community .learning .row .item-1 .top h5 {
  font-size: 20px;
  font-weight: 600;
  color: var(--grey);
  background-color: rgba(246, 237, 221, 0.1);
  width: 100%;
  padding: 6px 16px;
}
.community .learning .row .item-1 p {
  font-size: 16px;
  font-weight: 400;
  color: var(--grey);
  line-height: 25.6px;
}
.community .learning .row .item-1 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  color: var(--orange);
  font-size: 16px;
  font-weight: 500;
}
.community .learning .row .item-2 {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 11px;
}
.community .learning .row .item-2 .top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 12px;
}
.community .learning .row .item-2 .top h5 {
  font-size: 20px;
  font-weight: 600;
  color: var(--grey);
  background-color: rgba(246, 237, 221, 0.1);
  width: 100%;
  padding: 6px 16px;
}
.community .learning .row .item-2 p {
  font-size: 16px;
  font-weight: 400;
  color: var(--grey);
  line-height: 25.6px;
}
.community .learning .row .item-2 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  color: var(--orange);
  font-size: 16px;
  font-weight: 500;
}
.community .learning .row .item-3 {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 11px;
}
.community .learning .row .item-3 .top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 12px;
}
.community .learning .row .item-3 .top h5 {
  font-size: 20px;
  font-weight: 600;
  color: var(--grey);
  background-color: rgba(246, 237, 221, 0.1);
  width: 100%;
  padding: 6px 16px;
}
.community .learning .row .item-3 p {
  font-size: 16px;
  font-weight: 400;
  color: var(--grey);
  line-height: 25.6px;
}
.community .learning .row .item-3 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  color: var(--orange);
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 800px) {
  .community .details .row {
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .community .learning .row {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .community .learning .row .item-1, .community .learning .row .item-2 {
    width: calc(50% - 40px);
  }
  .community .learning .row .item-3 {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .community .learning .row {
    flex-direction: column;
  }
  .community .learning .row .item-1, .community .learning .row .item-2, .community .learning .row .item-3 {
    width: 100%;
  }
}
.bloges {
  background-color: var(--black);
  padding: 100px 20px;
}
.bloges .heading h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--white);
  line-height: 84px;
}
.bloges .heading p {
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
  line-height: 28.8px;
}
.bloges .row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 24px;
}
.bloges .row .item-1 {
  background-color: var(--home-bloges);
  border-radius: 4px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 15px;
}
.bloges .row .item-1 .top img {
  width: 100%;
  border-radius: 4px;
}
.bloges .row .item-1 .top h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
  line-height: 36px;
}
.bloges .row .item-1 p {
  font-size: 16px;
  font-weight: 400;
  color: var(--grey5);
  line-height: 24px;
}
.bloges .row .item-1 .link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  color: var(--orange);
}
.bloges .row .item-2 {
  background-color: var(--home-bloges);
  border-radius: 4px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 15px;
}
.bloges .row .item-2 .top img {
  width: 100%;
}
.bloges .row .item-2 .top h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
  line-height: 36px;
}
.bloges .row .item-2 p {
  font-size: 16px;
  font-weight: 400;
  color: var(--grey5);
  line-height: 24px;
}
.bloges .row .item-2 .link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  color: var(--orange);
}
.bloges .row .item-3 {
  background-color: var(--home-bloges);
  border-radius: 4px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 15px;
}
.bloges .row .item-3 .top img {
  width: 100%;
}
.bloges .row .item-3 .top h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
  line-height: 36px;
}
.bloges .row .item-3 p {
  font-size: 16px;
  font-weight: 400;
  color: var(--grey5);
  line-height: 24px;
}
.bloges .row .item-3 .link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  color: var(--orange);
}
.bloges .row .item-4 {
  background-color: var(--home-bloges);
  border-radius: 4px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 15px;
}
.bloges .row .item-4 .top img {
  width: 100%;
}
.bloges .row .item-4 .top h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
  line-height: 36px;
}
.bloges .row .item-4 p {
  font-size: 16px;
  font-weight: 400;
  color: var(--grey5);
  line-height: 24px;
}
.bloges .row .item-4 .link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  color: var(--orange);
}

/*# sourceMappingURL=main.css.map */
